@media (max-width: 1023.98px) {
   .header__container {
      display: none;
      opacity: 0;
      z-index: -999;
      visibility: hidden;
      width: 0;
      height: 0;
      position: absolute;
      left: -9999;
      top: -9999;
   }
}
// .header__link_color-blue:hover svg {
//    fill: #2fc6ff;
// }
.header__menu {
   @media (max-width: 1023.98px) {
      display: none;
      opacity: 0;
      z-index: -999;
      visibility: hidden;
      width: 0;
      height: 0;
      position: absolute;
      left: -9999;
      top: -9999;
   }
}
@media (min-width: 1024px) {
   .header__mobile {
      display: none;
      opacity: 0;
      z-index: -999;
      visibility: hidden;
      width: 0;
      height: 0;
      position: absolute;
      left: -9999;
      top: -9999;
   }
}
.header__content-mobile {
   @media (min-width: 1024px) {
      display: none;
      opacity: 0;
      z-index: -999;
      visibility: hidden;
      width: 0;
      height: 0;
      position: absolute;
      left: -9999;
      top: -9999;
   }
}
.header {
   @media (max-width: 1023.98px) {
      &__mobile {
         // overflow: auto;
      }

      &__container-mobile {
      }
      // &__border-bottom {
      //    border-bottom: 1px solid rgba(21, 128, 255, 0.3);
      //    position: absolute;
      //    bottom: -2%;
      //    left: 1.5%;
      //    display: inline-block;
      //    width: 97%;
      // }
      &__body-mobile {
         display: flex;
         align-items: center;
         justify-content: center;
         justify-content: space-between;
      }

      &__content-mobile {
         transition: right 0.5s ease 0s;
         position: absolute;
         overflow-y: auto;
         top: 100%;
         right: -100%;
         height: 87vh;
         @media (min-height: 765px) {
            height: 88vh;
         }
         @media (max-height: 620px) {
            height: 85vh;
         }
         @media (max-height: 550px) {
            height: 82vh;
         }
         @media (max-height: 500px) {
            height: 80vh;
         }
         @media (max-height: 465px) {
            height: 79vh;
         }
         @media (max-height: 430px) {
            height: 77vh;
         }
      }
      &__content-mobile._mobile {
         position: fixed;
         top: 100px;
         right: 0%;
         // height: 80%;
         z-index: 50;
      }

      &__client {
         transition: all 0.3s ease 0s;
      }

      &__link {
         &_color-blue {
         }
      }
      .vk {
         width: 29px;
         height: 15px;
         fill: #fff;
      }
      .inst {
         width: 28px;
         height: 28px;
         fill: #fff;
      }
      .facebook {
         width: 16px;
         height: 28px;
         fill: #fff;
      }
   }
}
.mobile-content__container {
   padding: 28px 72px 0px 32px;
   max-width: 328px;
   height: 800px;
   background: #011b31;
   border-radius: 0px 0px 0px 32px;
   z-index: 3;
   transition: right 0.5s ease 0s;
   overflow-y: auto;
}
.mobile-container {
   height: 100px;
   position: relative;
   z-index: 2;

   padding: 35px 40px 35px 15px;
}
.mobile-body {
   &__image {
   }

   &__logo {
   }

   &__connect {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__phone {
      margin-right: 55px;
      @media (max-width: 375px) {
         margin-right: 20px;
      }
   }

   &__phone-icon {
      width: 23px;
      height: 23px;
   }
}
.mobile-content {
   &__background {
   }
   &__list {
      position: relative;
      z-index: 3;
   }

   &__link {
      margin-bottom: 32px;
      font-size: 18px;
      line-height: 1.27;
      &_telephone {
         font-weight: bold;
      }
   }
   &__link:last-child {
      margin-bottom: 32px;
   }

   &__item {
      color: #ffffff;
      &_blue {
         color: #2fc6ff;
      }
   }

   &__border {
      position: absolute;
      top: 446px;
      right: -34%;
      width: 134%;
      z-index: 4;
      display: inline-block;
      border-bottom: 1px solid rgba(21, 128, 255, 0.3);
   }

   &__icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px;
   }

   &__social {
   }

   &__icon {
   }

   &__button {
      margin-bottom: 31px;
   }

   &__btn {
   }

   &__geoposition {
   }

   &__svg-geoposition {
   }
}
.margin {
   margin-bottom: 64px;
}
.btn {
}
.menu {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 50px;
   width: 212px;
   border: 2px solid rgba(88, 209, 255, 1);
   color: #fff;
   padding: 15px 34px 15px 38px;
   transition: all 0s ease 0s;
   border-radius: 7px;
   cursor: pointer;
   position: relative;
   z-index: 1;
}
.menu:after {
   border-radius: 10px;
   z-index: 2;
   position: absolute;
   top: 0;
   left: 0;
   content: "";
   border-radius: 7px;
   width: 100%;
   height: 100%;
   transition: opacity 0.3s;
   opacity: 0;
   background: linear-gradient(266.9deg, #2fc6ff 1.58%, #1580ff 97.56%);
}
.menu:hover:after {
   opacity: 1;
}
.menu:hover {
   border: none;
}
.menu span {
   position: relative;
   z-index: 4;
}
.header__client {
   position: relative;
   z-index: 4;
   transition: all 0.3s ease 0s;
}
.menu:hover .header__client {
   fill: #0557a3;
}

// .menu:hover {
//    background: linear-gradient(266.9deg, #2fc6ff 1.58%, #1580ff 97.56%);
//    border: none;
// }
.navigate {
}
.mobile-body__icon {
   width: 24px;
   height: 20px;
   position: relative;
   cursor: pointer;
}
.mobile-body__icon span {
   background-color: #2fc6ff;
   position: absolute;
   border-radius: 6px;
   transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
   transition: width 0.3s ease 0s;
}
.mobile-body__icon span:nth-child(1) {
   width: 100%;
   height: 3px;
   display: block;
   top: 0px;
   left: 0px;
}
.mobile-body__icon span:nth-child(2) {
   width: 100%;
   height: 3px;
   display: block;
   top: 8px;
   left: 0px;
}
.mobile-body__icon span:nth-child(3) {
   width: 16px;
   height: 3px;
   display: block;
   bottom: 1px;
   right: 0px;
}
.mobile-body__icon._mobile span:nth-child(1) {
   transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
   width: 100%;
   transform: scale(0) translate(0px, -50%);
}
.mobile-body__icon._mobile span:nth-child(2) {
   width: 100%;
   left: 12.5%;
   top: 45%;
   transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
   transform: rotate(45deg);
}
.mobile-body__icon._mobile span:nth-child(3) {
   left: 12.5%;
   top: 45%;
   width: 100%;
   transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
   transform: rotate(-45deg);
}
