.head {
   font-family: DrukWideCyTTMedium;
   font-size: 38px;
   line-height: 46px;
   font-weight: normal;
   color: #011b31;
}
.line {
   max-width: 100%;
   border: 1px solid rgba(21, 128, 255, 0.3);
}
